<div class="container my-3">
  <h4 class="col-2 text-center bg-secondary">注文履歴一覧</h4>
  
  <div class="row justify-content-center mt-4">
  <table class="col-10 table table-striped">
    <thead>
      <tr>
        <td>購入日時</td>
        <td>購入者</td>
        <td>注文個数</td>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td class=text-derk>
            <%= link_to admin_orders_show_path(order.id) do %>
              <div class="text-dark"><%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></div>
            <% end %>
          </td>
          <td><%= order.customer.full_name %></td>
          <td>
          <% @sum = 0 %>
          <% order.order_details.each do |detail| %>
            <% detail.amount %>
            <% @sum += detail.amount %>
          <% end %>
          <%= @sum %>
          </td>
        </tr>
        <%= paginate @orders %>
      <% end %>
    </tbody>
  </table>
  </div>
  
</div>
