<div class="container">
  <h3>配送先登録/一覧</h3>
  
  <table>
    <%= form_with model: @address, url: addresses_path do |f| %>
      <tr><th>郵便番号（ハイフンなし）</th><td><%= f.text_field :postal_code %></td></tr>
      <tr><th>住所</th><td><%= f.text_field :address %></td></tr>
      <tr><th>宛名</th><td><%= f.text_field :name %></td><td><%= f.submit '新規登録', class: "btn btn-success" %></td></tr>
    <% end %>
  </table>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <td>郵便番号</td>
        <td>住所</td>
        <td>宛名</td>
        <td></td>
      </tr>
    </thead>
    
    <tbody>
      <% @addresses.each do |address| %>
      <tr>
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td>
          <%= link_to "編集する", addresses_edit_path(address.id), class: "btn btn-success" %>
          <%= link_to "削除する", destroy_addresses_path(address.id), method: :delete, class: "btn btn-danger" %>
        </td>
        
      </tr>
      <% end %>
    </tbody>
  </table>
  
</div>

