<div class="container">
  <h4 class="col-2 text-center bg-secondary ml-5">注文情報確認</h4>
  
  <%= form_with model: @order, url: orders_path do |f| %>
  <div class="row">
    <table class="col-7 table table-striped mb-4">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.name %></td>
            <td><%= cart_item.item.add_tax_price.to_s(:delimited) %></td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.sum_of_price.to_s(:delimited) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
    <table class="col-4 table table-striped ml-auto">
      <tr><th>送料</th><td><%= @order.postage %></td></tr>
      <tr><th>商品合計</th><td><%= @total %></td></tr>
      <tr><th>請求金額</th><td><%= @order.total %></td></tr>
    </table>
  </div>
  
  
  <table cellpadding="10">
    <tr><th>支払い方法</th><td><%= @order.pay_method_i18n %></td></tr>
    <tr><th>お届け先</th><td><%= @order.postcode_mail %><%= @order.address_mail %>  <%= @order.name_mail %></td></tr>
  </table>
  
  <%= f.hidden_field :postage %>
  <%= f.hidden_field :postcode_mail %>
  <%= f.hidden_field :address_mail %>
  <%= f.hidden_field :name_mail %>
  <%= f.hidden_field :pay_method %>
  <%= f.hidden_field :total %>
 
  <%= f.submit "注文を確定する", class: "btn btn-success" %>
  <% end %>
</div>
