<h3>注文情報入力</h3>

<h3>支払い方法</h3>
  <%= form_with model: @order, url: orders_new_path do |f| %>
    <%= f.radio_button :pay_method, :card %>
    <%= f.label :pay_method, "クレジットカード", {value: :card, style: "display: inline-block;"} %>
    <%= f.radio_button :pay_method, :bank %>
    <%= f.label :pay_method, "銀行振込", {value: :bank, style: "display: inline-block;"} %>
  <% end %>

<h3>お届け先</h3>

