<h3>注文情報入力</h3>

<%= form_with model: @order, url: orders_new_path do |f| %>
  <h3>支払い方法</h3>
    <label><%= f.radio_button :pay_method, "クレジットカード" %> クレジットカード</label>
    <label><%= f.radio_button :pay_method, "銀行振込" %> 銀行振込</label>

  <h3>お届け先</h3>
    <label>
       <label>
          <%= f.radio_button [:postcode_mail, :address_mail, :name_mail], "1" do %>
            <%= @customer.postal_code %>
          <% end %>
        </label>
    </label>

<% end %>