<div class="container my-3">
  <h3>商品一覧</h3>

  <div class="row row-cols-4">
     <% @items.each do |item| %>
      <div class="col mb-5">
        <%= link_to items_show_path(item.id) do %>
          <%= image_tag item.get_image(225,225) %><br>
        <% end %>
        <%= item.name %><br>
        ¥<%= item.price %><br>
      </div>
    <% end %>
    <%= paginate @items %>
  </div>
</div>
